<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/styles/admin.css")
        title - title
        block head
    body
        #wrapper.d-flex
            include ../partials/sidebar.pug
            #page-content-wrapper
                include ../partials/navbar.pug
                .container-fluid.my-3.mx-3
                    block content

        script(src='/assets/jquery-3.3.1.slim.min.js')
        script(src='/assets/popper.min.js')
        script(src='/assets/bootstrap.min.js')
        script(src='/assets/admin.js')
        block foot
