extends layouts/main.pug

block content
    h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo inventore aliquid culpa iure laboriosam accusamus doloremque sit. Sit nesciunt alias, officia quis enim officiis laudantium. Libero sunt ullam maiores!

    h1= locals.user