extends layouts/withoutSidebar.pug

block content
    .containers.my-5
        .row
            .col-md-4.mx-auto
                form
                    .form-group
                        label(for='user') Email/Username
                        input#user.form-control(type='email' placeholder='Enter email')
                        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' placeholder='Password')
                    button.btn.btn-primary(type='submit') Login

                    p 
                        | Don't have any account? 
                        a(href="/register") Register One